# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
env/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Testing files and folders
json_test/
log_archive/
training_data/
dadbot_archive/
img_test.py
test.py